# Eat Safe, Love

## Notebook Set Up

In [2]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [3]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [4]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [5]:
# review the collections in our database
collection_names = db.list_collection_names()
print(collection_names)

[]

In [6]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [10]:
# Find the establishments with a hygiene score of 20
# Use count_documents to display the number of documents in the result

# Display the first document in the results using pprint
from pprint import pprint

establishments_with_score_20 = db.establishments.find({"hygiene_score": 20})
count = db.establishments.count_documents({"hygiene_score": 20})

print("Number of establishments with a hygiene score of 20:", count)

try:
    # Display the first document
    first_document = next(establishments_with_score_20)
    pprint(first_document)
except StopIteration:
    print("No documents found with a hygiene score of 20.")

Number of establishments with a hygiene score of 20: 0
No documents found with a hygiene score of 20.

In [11]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(list(establishments_with_score_20))

# Display the number of rows in the DataFrame
print("Number of rows in the DataFrame:", len(df))

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(df.head(10))

Number of rows in the DataFrame: 0
First 10 rows of the DataFrame:
Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [13]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.


# Use count_documents to display the number of documents in the result

# Display the first document in the results using pprint

query = {"LocalAuthority": "London", "RatingValue": {"$gte": 4}}

establishments_in_london_with_rating_above_4 = db.establishments.find(query)
count = db.establishments.count_documents(query)

print("Number of establishments in London with a rating greater than or equal to 4:", count)

try:
    # Display the first document
    first_document = next(establishments_in_london_with_rating_above_4)
    pprint(first_document)
except StopIteration:
    print("No documents found.")

Number of establishments in London with a rating greater than or equal to 4: 0
No documents found.

In [14]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame

import pandas as pd

# Convert the result to a Pandas DataFrame
df = pd.DataFrame(list(establishments_in_london_with_rating_above_4))

# Display the number of rows in the DataFrame
print("Number of rows in the DataFrame:", len(df))

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(df.head(10))

Number of rows in the DataFrame: 0
First 10 rows of the DataFrame:
Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [16]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score



# Print the results

degree_search = 0.01
latitude = 51.5074  # Example latitude for London
longitude = -0.1278  # Example longitude for London

query = {
    "Latitude": {"$gte": latitude - degree_search, "$lte": latitude + degree_search},
    "Longitude": {"$gte": longitude - degree_search, "$lte": longitude + degree_search},
    "RatingValue": 5
}

sort = [("HygieneScore", 1)]  # Sort by hygiene score in ascending order

limit = 10  # Limit the number of results to 10

results = db.establishments.find(query).sort(sort).limit(limit)

# Print the results
for result in results:
    pprint(result)

In [17]:
# Convert result to Pandas DataFrame
import pandas as pd

# Convert the result to a Pandas DataFrame
df = pd.DataFrame(list(results))

# Display the DataFrame
print("DataFrame:")
print(df)

DataFrame:
Empty DataFrame
Columns: []
Index: []

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [18]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Print the number of documents in the result

# Print the first 10 results

pipeline = [
    {"$match": {"HygieneScore": 0}},
    {"$group": {"_id": "$LocalAuthority", "count": {"$sum": 1}}},
    {"$sort": {"count": -1}}
]

result = db.establishments.aggregate(pipeline)

# Print the number of documents in the result
count = sum(1 for _ in result)
print("Number of documents in the result:", count)

# Re-run the pipeline to get the first 10 results
result = db.establishments.aggregate(pipeline)

# Print the first 10 results
print("First 10 results:")
for idx, doc in enumerate(result):
    if idx < 10:
        print(doc)
    else:
        break

Number of documents in the result: 0
First 10 results:

In [19]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame

import pandas as pd

# Rerun the pipeline to get the result
result = db.establishments.aggregate(pipeline)

# Convert the result to a Pandas DataFrame
df = pd.DataFrame(list(result))

# Display the number of rows in the DataFrame
print("Number of rows in the DataFrame:", len(df))

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(df.head(10))

Number of rows in the DataFrame: 0
First 10 rows of the DataFrame:
Empty DataFrame
Columns: []
Index: []